

.content { padding-top: 70px; }



/****NAVIGATION****/

.navbar {
    font-family: 'Playfair Display', serif;
  z-index: 1;
}

.bg-dark {
    background-color: black!important;
}




/****HOME****/


#top.jumbotron {
  background-image: url("../img/flower-power-3.jpg");
  background-size: cover;
}



.lead {
  text-align: center;
  padding-top: 1%;
}

.carousel-caption .d-none .d-md-block h2 {
  padding-left: 60%;
  color: black;
}


.btn-primary {
  margin-left: 30%;
  margin-right: 30%;
}

.row {
  margin-top: 13%;
}




.btn-primary {
  background-color: white;
  border-color: black;
  border: 2px solid black;

}



a.btn {
  color:black;
  text-align: center;
}


.btn-primary:hover {
  background-color: black;
  border-color: black;
  border: 2px solid black;
}



a:hover.btn {
  color:white;
}





/****HOME - Typography****/

.display-4 {
  font-family: 'Playfair Display', serif;
  font-weight: 300;
  text-transform: uppercase;
  color: black;
  text-shadow: 2px 1px white;
  text-align: center;
  font-size: 5rem;
  line-height: 1.2;
  padding-top: 16%;
}



@media all and (max-width: 699px){
   .display-4 {
    font-size: 3.5rem;
    padding-top: 50%;
  }
}





.jumbotron p{
  color: black;
  height: 275px;
  font-size: 1.25rem;
  font-family: 'Lora', serif;
  font-weight: 200;
  text-transform: uppercase;
}




.container h2{
  font-family: 'Playfair Display', serif;
  color: black;
  font-size: 2.5rem;
  text-align: center;
}

.container .row p{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 120%;
  text-align: center;
  color:black;
}
  




  .col-sm #data-button.btn-primary {
  color: black;
  box-shadow: none;
}

.col-sm #data-button.btn-primary:hover {
  color: white;
}






/**** Work section ****/


#work.container h1 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 3rem;
    margin-bottom: -10%;

}

 #works.row .col-md-3 {
  padding: 3%;
}

.work-img {
  display: block; /* needed to center the element with margin */
  margin: auto; /* center the image inside the column if it's smaller */
  max-width: 200px !important; /* needs to be set to the width of your image files if they are relatively small */
  position: relative; /* is needed for .info position: absolute to work */
}

.info {
  display: none;
  position: absolute; /* let's us move the text around and not worry about the image */
  top: 15%; /* position the text 15% away from the top */
  left: 22%;
  color: #fff;
  font-family: Futura;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5em;
  line-height: 1.6;
}


  
.proj-title { font-weight:100; }



/**** About page ****/


  .col-sm #modal-button.btn-primary {
  color: black;
  box-shadow: none;
}

.col-sm #modal-button.btn-primary:hover {
  color: white;
}



#modal-row.row {
  margin-top: 2%;
  margin-bottom: 5%;
}

    

#resume.container {
  max-width: 900px;
}









#about.container {
  margin-left: 0 !important;
  margin-right: 0 !important;
  max-width: 1700px !important;
}

    
    
#about.container .container .row .col-md-6 p{
  background-color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.25em;
  font-weight: 200;
  color: black;
}


#about-me.row {
  margin-top: 0;
  padding-top: 70px;
  margin: 0 !important;
}

.container .skills .column {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-top: 5%;
  border: 1px red;
}


.container .skills .column p{
  font-family: 'Open Sans Condensed', sans-serif;
}



* {
    box-sizing: border-box;
}
/*This just stops me getting horizontal scrolling if anything overflows the width*/
body {
    overflow-x: hidden;
}

/*Flexbox gives us the flexiness we need. The top just stays put as there is no scrolling on the body due to the page never exceeding viewport height*/

}
/*This is our main wrapping element, it's made 100vh high to ensure it is always the correct size and then moved into place and padded with negative margin and padding*/
.Container {
    display: flex;
    overflow: hidden;
    height: 100vh;
    margin-top: -100px;
    padding-top: 100px;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
}
/*All the scrollable sections should overflow and be whatever height they need to be. As they are flex-items (due to being inside a flex container) they could be made to stretch full height at all times if needed.
WebKit inertia scrolling is being added here for any present/future devices that are able to make use of it.
*/
.story-section,
.story-text {
    overflow: auto;
    height: auto;
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;

}




/* Track */
.story-text::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
.story-text::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #e5e9ea;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.story-text::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4);
}


/*  Left and Right are set sizes while the Middle is set to flex one so it occupies all remaining space. This could be set as a width too if prefereable, perhaps using calc.*/
.story-section {
    width: 55%;
    background-color: white;
}


.story-text {
    width: 100%;
    margin: 5%;
}

.Container {
    display: flex;
    overflow: hidden;
    height: calc(100vh - 100px);
    position: relative;
    width: 100%;
}

.story-section h1 {
  text-align: right;
  color: black;
  vertical-align: 50%;
  font-size: 4rem;
  font-family: 'Playfair Display', serif;
  font-weight: 300;
}


@media only screen and (max-width: 768px) {
  .Left h1 {
    font-size: 2rem;
  }
}



.story-text p {
font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5rem;
  color: black;
}





.numberCircle {
    width: 120px;
    line-height: 120px;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    border: 1px solid black;
    color: black;
    text-align: center;
    display: inline-block;
}


.skills h1{
  text-align: center;
  color: black;
  font-size: 4rem;
  font-family: 'Playfair Display', serif;
  font-weight: 300;
}


.skills p {
  text-align: center;
  color: black;
  font-size: 2rem;
  font-family: 'Playfair Display', serif;
  font-weight: 100;
}

.carousel {
  margin-left: 5%
}

.Container .Left, .Right {
  
  margin-top: 12%;
}

.header-area .header h1{
  margin-top: 8%;
}


.embed-responsive {
  margin: 10px;
}





/**** FAQ page ****/



#faq.container h1 {
  padding-top: 8%;
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  text-align: center;
  color: black;
}

#faq.container {
  margin-bottom: 10%;
}

  
.card-header {
  background: #e5e9ea;
  text-align: center;
}

.card-header button {
  color: black;
  text-align: center;
}

.card-body {
  font-family: 'Playfair Display', serif;
  font-size: 1rem;
  color: black;
  text-align: center;
}

.btn {
  font-family: 'Playfair Display', serif;
  font-size: 1.2rem !important;
}

.btn-link:hover {
    color: #cc6225 !important;
    text-decoration: underline;
    )


@media (min-width: 768px) {
  .modal-button button {
    float: right;
  }
}


/**** Contact page ***/

/*Typography*/










.parallax {
    /* The image used */
    background-image: url("img/coffee.jpg");

    /* Set a specific height */
    height: 900px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax h1{
  padding-top: 10%;
  font-family: 'Playfair Display', serif !important;
  font-size: 3rem;
  text-align: center;
  color: black;
}


.parallax p{
  font-family: 'Playfair Display', serif !important;
  font-size: 1rem;
  text-align: center;
  color: black;
}
  
  
  .parallax h2{
  font-family: 'Playfair Display', serif !important;
  font-size: 2rem;
  text-align: center;
  color: black;
}
  .parallax h3{
  font-family: 'Playfair Display', serif !important;
  font-size: 1.5rem;
  text-align: center;
  color: black;
}


.form-group {
    font-family: 'Playfair Display', serif !important;

}

#form-button.btn-primary a{
  color: black;
}

#form-button.btn-primary:hover a{
  color: white;
}








body {
  position: relative;
}
